body {
    margin: 0;
    padding: 0;
}

header {
    background-color: indianred;
    min-height: 100px;

}

.navigation-list {
    display: flex;
    margin: -120px 0 0 0;

    list-style: none;
    flex-wrap: wrap;

    justify-content: center;
}

.navigation-list a {
    display: block;
    padding: 40px;
}

.content {
    background-color: #fff6b4;
    min-height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content h3 {
    text-align: center;
    font-size: xx-large;
    margin: 8px;
}

.carousel {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.carousel .leader {
    width: 300px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 10px;
}

.carousel .leader:hover {
    border: 1px solid #CD5C5C;
}

.content-list {
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.content-list img {
    width: 300px;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 10px;
}


.leader-title {
    font-size: 18px;
    font-weight: bold;
}

.cat {
    height: 150px;
}

footer {
    background-color: #847462;
    height: 100px;
}

.copyright {
    color: aliceblue;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-list li {
    margin: 20px;
}



